<!DOCTYPE html>
<html>
  <head>
<!--    <link rel="import" href="C:\Users\Andre\PycharmProjects\pythonProject\venv\Final_project\pythonFinalProject\finalproject\ThriftStores.csv">-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

    <style>
      #map { height: 1000px; }
    </style>
  </head>
<body>

  <div id="map"></div>

  <script >
    navigator.geolocation.getCurrentPosition( position => {
      var map = L.map('map').setView([position.coords.latitude, position.coords.longitude], 13);


      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);
      marker.bindPopup("My Location")

      fetch('http://localhost:8000/stores', {method: 'GET',})
            .then((response) => response.json())
            .then((stores) => {
                stores.forEach( store => {
                    var marker = L.marker([store.lat, store.long]).addTo(map);
                    marker.bindPopup(store.popup)
                })
            })
    })


  </script>
</body>
</html>